{% comment %} {% endcomment %}
<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static '/favicon.ico' %}">

    <title>{% block title %} Title Here! {% endblock %} | Canvas++</title>

    <!-- Main styling starts here -->
    <link rel="stylesheet" crossorigin href="{% static '/css/application-email.min.css' %}"/> 
    
    <link rel="stylesheet" crossorigin href="{% static '/css/bootstrap.css' %}"/>
    
    <link rel="stylesheet" crossorigin href="{% static '/css/bootstrap-dark.css' %}"/>

    <link rel="stylesheet" href="{% static '/css/fontawesome-free.min.css' %}"/>

    <link rel="stylesheet" crossorigin href="{% static '/css/iconly.min.css' %}"/>

    <link rel="stylesheet" crossorigin href="{% static '/css/table-datatable-jquery.min.css' %}"/>

    {% comment %} TODO: Minify the stylesheet {% endcomment %}
    <link rel="stylesheet" crossorigin href="{% static '/css/toastify.css' %}"/>

    <link rel="stylesheet" crossorigin href="{% static '/css/sweetalert2.min.css' %}"/>

    {% comment %} TODO: Minify the stylesheet {% endcomment %}
    <link rel="stylesheet" crossorigin href="{% static '/css/dataTables.bootstrap5.css' %}"/>

    <link rel="stylesheet" crossorigin href="{% static '/css/quill.core.css' %}"/>
    <link rel="stylesheet" crossorigin href="{% static '/css/quill.snow.css' %}"/>


    {% component_css_dependencies %}

    {% block extra_css %}{% endblock extra_css %}

    <!-- Main styling ends here -->
  </head>
  <body>
    {% comment %} Checking whether browser preferred dark/light mode starts here {% endcomment %}
    <script src="{% static '/js/initTheme.js' %}"></script>
    {% comment %} Checking whether browser preferred dark/light mode ends here {% endcomment %}

    {% comment %} Modal container starts here {% endcomment %}
    {% block modal %}{% endblock modal %}
    {% comment %} Modal container ends here {% endcomment %}

    {% comment %} Main page starts here {% endcomment %}
    <div id="app">

      {% block nav %}
      {% component "nav" %}{% endcomponent %}
      {% endblock nav %}
      {% block sidebar %}
      {% component "sidebar" %}{% endcomponent %}
      {% endblock sidebar %}

      <div id="main">
        {% block content %}
          <h1>Content Here!</h1>
        {% endblock content %} 
      </div>
    </div>
    {% comment %} <Main page ends here {% endcomment %}

    {% comment %} Messages display starts here (hidden by default for toastify to use) {% endcomment %}
    {% if messages %}
      <ul class="messages d-none">
      {% for message in messages %}
          <li data-message="{{ message }}" data-level={{ message.level }}>
          </li>
      {% endfor %}
      </ul>
    {% endif %}
    {% comment %} Messages display ends here {% endcomment %}

    {% comment %} <Main Sources {% endcomment %}

    {% comment %} Handling dark mode toggle {% endcomment %}
    <script src="{% static '/js/dark.js' %}" defer></script>
    {% comment %} Handling dark mode toggle {% endcomment %}

    {% comment %} App's script starts here {% endcomment %}
    <script src="{% static '/js/app.js' %}" defer></script>
    {% comment %} App's script starts here {% endcomment %}

    {% comment %} Custom scrollbar starts here {% endcomment %}
    <script src="{% static '/js/perfect-scrollbar.min.js' %}" defer></script>
    {% comment %} Custom scrollbar starts here {% endcomment %}

    {% comment %} jQuery starts here {% endcomment %}
    <script src="{% static '/js/jquery.min.js' defer %}"></script>
    {% comment %} jQuery ends here {% endcomment %}

    {% comment %} Toastify.js starts here {% endcomment %}
    <script src="{% static '/js/toastify.js' %}" defer></script>
    <script src="{% static '/js/display-toastify.js' %}" defer></script>
    {% comment %} Toastify.js ends here {% endcomment %}

    {% comment %} SweetAlert starts here {% endcomment %}
    <script src="{% static '/js/sweetalert2.min.js' %}"></script>
    {% comment %} SweetAlert ends here {% endcomment %}

    {% comment %} Jquery DataTables with BS5 starts here {% endcomment %}
    <script src="{% static '/js/jquery.dataTables.min.js' %}" defer></script>
    <script src="{% static '/js/dataTables.bootstrap5.min.js' %}" defer></script>
    {% comment %} Jquery DataTables with BS5 ends here {% endcomment %}

    <script src="{% static '/js/quill.min.js' %}"></script>

    {% component_js_dependencies %}

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
