{% extends "templates/base.html" %}

{% block title %} Login {% endblock title %}

{% block form_content %}
<form method="POST" action="{% url "login" %}">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <p>Username or Password did no match. Try Again!<p>
    </div>
    {% endif %}
    <div class="form-group position-relative has-icon-left mb-4">
        {{ form.username }}
        <div class="form-control-icon">
            <i class="bi bi-person"></i>
        </div>
    </div>
    <div class="form-group position-relative has-icon-left mb-4">
        {{ form.password }}
        <div class="form-control-icon">
            <i class="bi bi-shield-lock"></i>
        </div>
    </div>
    <div class="form-check form-check-lg d-flex align-items-end">
        <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label text-gray-600" for="flexCheckDefault">
            Keep me logged in
        </label>
    </div>
    <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5" type="submit">Log in</button>
</form>
{% endblock form_content %}

{% block forgot_password %}
<div class="text-center mt-5 text-lg fs-4">
    <p><a class="font-bold" href="auth-forgot-password.html">Forgot password?</a></p>
</div>
{% endblock forgot_password %}

{% block extra_js %}
<script>
    $(function () {
        let messages_list = $(".messages li");

        
        if (messages_list.length) {
            $("#id_username").addClass("is-invalid");
            $("#id_password").addClass("is-invalid");
        }
    })
</script>
{% endblock extra_js %}