    {% extends "base/base.html" %}

{% load static %} 

{% block title %} {{ title }} {% endblock %} 

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
        {% comment %} Content Here {% endcomment %}
            <div class="row">
                <div class="col-xs-1-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">
                                <div class="hstack gap-3 d-flex justify-content-between">
                                    Grade Detail
                                </div>
                            </h3>

                            <br />
                            <h6 class="card-subtitle mb-2 text-body-secondary">Student Data</h6>

                            <div class="row">
                                    <div class="col">
                                    Student ID#:
                                    </div>
                                <div class="col">
                                    1020304
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col">
                                    Course Program:
                                    </div>
                                <div class="col">
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col">
                                    Year Level:
                                    </div>
                                <div class="col">
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col">
                                    School Year:
                                    </div>
                                <div class="col">
                                    2024 - 2025
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col">
                                    Semester;
                                    </div>
                                <div class="col">
                                    1st Semester
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col">
                                    Entry Year:
                                    </div>
                                <div class="col">
                                    2023
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-body-secondary">Enrolled Subjects 1st Year 1st Sem</h6>
                            <br />

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Class Code</th>
                                        <th scope="col">Code</th>
                                        <th scope="col">Subjects</th>
                                        <th scope="col">Unit</th>
                                        <th scope="col">Instructor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <p><a href="#" class="link-secondary">1234</a></p>
                                        </th>
                                        <td>6362</td>
                                        <td>Data Analysis</td>
                                        <td>3</td>
                                        <td>Sir, Schuvert Frigilliana</td>
                                    </tr>
                                <tr>
                                        <th scope="row">
                                            <p><a href="#" class="link-secondary">1234</a></p>
                                        </th>
                                        <td>6362</td>
                                        <td>Data Analysis</td>
                                        <td>3</td>
                                        <td>Sir, Schuvert Frigilliana</td>
                                    </tr>
                                <tr>
                                        <th scope="row">
                                            <p><a href="#" class="link-secondary">1234</a></p>
                                        </th>
                                        <td>6362</td>
                                        <td>Data Analysis</td>
                                        <td>3</td>
                                        <td>Sir, Schuvert Frigilliana</td>
                                    </tr>
                                <tr>
                                        <th scope="row">
                                            <p><a href="#" class="link-secondary">1234</a></p>
                                        </th>
                                        <td>6362</td>
                                        <td>Data Analysis</td>
                                        <td>3</td>
                                        <td>Sir, Schuvert Frigilliana</td>
                                    </tr>
                                <tr>
                                        <th scope="row">
                                            <p><a href="#" class="link-secondary">1234</a></p>
                                        </th>
                                        <td>6362</td>
                                        <td>Data Analysis</td>
                                        <td>3</td>
                                        <td>Sir, Schuvert Frigilliana</td>
                                    </tr>
                                <tr>
                                        <th scope="row">
                                            <p><a href="#" class="link-secondary">1234</a></p>
                                        </th>
                                        <td>6362</td>
                                        <td>Data Analysis</td>
                                        <td>3</td>
                                        <td>Sir, Schuvert Frigilliana</td>
                                    </tr>
                                <tr>
                                        <th scope="row">
                                            <p><a href="#" class="link-secondary">1234</a></p>
                                        </th>
                                        <td>6362</td>
                                        <td>Data Analysis</td>
                                        <td>3</td>
                                        <td>Sir, Schuvert Frigilliana</td>
                                    </tr>
                                <tr>
                                        <th scope="row">
                                            <p><a href="#" class="link-secondary">1234</a></p>
                                        </th>
                                        <td>6362</td>
                                        <td>Data Analysis</td>
                                        <td>3</td>
                                        <td>Sir, Schuvert Frigilliana</td>
                                    </tr>
                                <tr>
                                        <th scope="row">
                                            <p><a href="#" class="link-secondary">1234</a></p>
                                        </th>
                                        <td>6362</td>
                                        <td>Data Analysis</td>
                                        <td>3</td>
                                        <td>Sir, Schuvert Frigilliana</td>
                                    </tr>
                                <tr>
                                        <th scope="row">
                                            <p><a href="#" class="link-secondary">1234</a></p>
                                        </th>
                                        <td>6362</td>
                                        <td>Data Analysis</td>
                                        <td>3</td>
                                        <td>Sir, Schuvert Frigilliana</td>
                                    </tr>
                                <tr>
                                        <th scope="row">
                                            <p><a href="#" class="link-secondary">1234</a></p>
                                        </th>
                                        <td>6362</td>
                                        <td>Data Analysis</td>
                                        <td>3</td>
                                        <td>Sir, Schuvert Frigilliana</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}{% endblock extra_js %}