{% extends "base/base.html" %} 

{% load static %} 

{% block title %} {{ title }} {% endblock %} 

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <div class="d-block d-lg-none">
                <div class="position-relative w-100">
                    <button class="position-relative end-0 btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#sub-menu-collapse" aria-expanded="false" aria-controls="sub-menu-collapse">
                        Open Navigation
                    </button>
                </div>
                <div class="collapse" id="sub-menu-collapse">
                    <div class="list-group list-group-flush">
                        {% component "professor_sub_list" %}{% endcomponent %}
                    </div>
                </div>
            </div>
            <div class="list-group list-group-flush d-none d-lg-block">
                {% component "professor_sub_list" %}{% endcomponent %}
            </div>
        </div>
        <div class="col-lg-10">
        {% comment %} Content Here {% endcomment %}
            <div class="row">
                <div class="col-xs-1-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">
                                <div class="hstack gap-3 d-flex justify-content-between">
                                    {{ course.title }} Announcements
                                </div>
                            </h3>

                            <br />

                            <div class="row">
                                <div class="col-12 mb-1">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-search mb-2"></i></span>
                                        <input type="text" class="form-control form-control-lg" placeholder="Search Announcements..." aria-label="Recipient's username" aria-describedby="button-addon2">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false"></button>
                                        <ul class="dropdown-menu border">
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="fa fa-plus mb-2"></i> New
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="fa fa-inbox mb-2"></i> Mark All as Read
                                                </a>
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    All
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    Unread
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    Starred
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    Trashed
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action p-3" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Reminders for Quiz 02</h5>
                                        <small class="text-right">Posted on: August 11, 2024</small>
                                    </div>
                                    <p class="mb-1">Good morning, class!For our asynchronous schedule today.1. Read and watch the discussion about Lesson 6 | Linear Diff...</p>
                                    <small>to block_section</small>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action p-3" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Reminders for Quiz 02</h5>
                                        <small class="text-right">Posted on: August 11, 2024</small>
                                    </div>
                                    <p class="mb-1">Good morning, class!For our asynchronous schedule today.1. Read and watch the discussion about Lesson 6 | Linear Diff...</p>
                                    <small>to block_section</small>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action p-3" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Reminders for Quiz 02</h5>
                                        <small class="text-right">Posted on: August 11, 2024</small>
                                    </div>
                                    <p class="mb-1">Good morning, class!For our asynchronous schedule today.1. Read and watch the discussion about Lesson 6 | Linear Diff...</p>
                                    <small>to block_section</small>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action p-3" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Reminders for Quiz 02</h5>
                                        <small class="text-right">Posted on: August 11, 2024</small>
                                    </div>
                                    <p class="mb-1">Good morning, class!For our asynchronous schedule today.1. Read and watch the discussion about Lesson 6 | Linear Diff...</p>
                                    <small>to block_section</small>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action p-3" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Reminders for Quiz 02</h5>
                                        <small class="text-right">Posted on: August 11, 2024</small>
                                    </div>
                                    <p class="mb-1">Good morning, class!For our asynchronous schedule today.1. Read and watch the discussion about Lesson 6 | Linear Diff...</p>
                                    <small>to block_section</small>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action p-3" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Reminders for Quiz 02</h5>
                                        <small class="text-right">Posted on: August 11, 2024</small>
                                    </div>
                                    <p class="mb-1">Good morning, class!For our asynchronous schedule today.1. Read and watch the discussion about Lesson 6 | Linear Diff...</p>
                                    <small>to block_section</small>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action p-3" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Reminders for Quiz 02</h5>
                                        <small class="text-right">Posted on: August 11, 2024</small>
                                    </div>
                                    <p class="mb-1">Good morning, class!For our asynchronous schedule today.1. Read and watch the discussion about Lesson 6 | Linear Diff...</p>
                                    <small>to block_section</small>
                                </a>
                            </div>

                            <br />

                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-primary  justify-content-end">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}{% endblock extra_js %}