{% extends "inbox/base.html" %}

{% block title %} {{ title }} {% endblock %} 

{% block content %}

{% endblock content %}

{% block extra_js %}
<script>
  document
  .querySelector(".sidebar-toggle")
  .addEventListener("click", () => {
    document.querySelector(".email-app-sidebar").classList.toggle("show");
  });
document
  .querySelector(".sidebar-close-icon")
  .addEventListener("click", () => {
    document.querySelector(".email-app-sidebar").classList.remove("show");
  });
document.querySelector(".compose-btn").addEventListener("click", () => {
  document
    .querySelector(".compose-new-mail-sidebar")
    .classList.add("show");
});
document
  .querySelector(".email-compose-new-close-btn")
  .addEventListener("click", () => {
    document
      .querySelector(".compose-new-mail-sidebar")
      .classList.remove("show");
  });
</script>
{% endblock extra_js %}