{% extends "base/base.html" %} 

{% load static %} 

{% block title %} {{ title }} {% endblock %} 

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <div class="d-block d-lg-none">
                <div class="position-relative w-100">
                    <button class="position-relative end-0 btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#sub-menu-collapse" aria-expanded="false" aria-controls="sub-menu-collapse">
                        Open Navigation
                    </button>
                </div>
                <div class="collapse" id="sub-menu-collapse">
                    <div class="list-group list-group-flush">
                        {% component "professor_sub_list" %}{% endcomponent %}
                    </div>
                </div>
            </div>
            <div class="list-group list-group-flush d-none d-lg-block">
                {% component "professor_sub_list" %}{% endcomponent %}
            </div>
        </div>
        <div class="col-lg-10">
        {% comment %} Content Here {% endcomment %}
            <div class="row">
                <div class="col-xs-1-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">
                                <div class="hstack gap-3 d-flex justify-content-between">
                                    {{ course.title }} | {{ course.codename }} Course
                                    
                                    {% if user.profile.is_professor %}
                                        <a href="#" class="btn btn-success">Edit</a>
                                    {% endif %}
                                </div>
                            </h3>
                            <p class="card-text">{{ course.semester.term }} Semester {{ course.semester.start_year }}-{{ course.semester.end_year }}</p>

                            <br />

                            <h3 class="text-bg-primary px-2 py-1 rounded-1">About this Course</h3>
                            <p class="text-justify lh-base">
                                {% autoescape off %}
                                    {{ course.about }}
                                {% endautoescape %}
                            </p>

                            <h3 class="text-bg-primary px-2 py-1 rounded-1">About your Professor</h3>

                            <br />

                            <div class="row">
                                <div class="col-12 col-lg-2 fs-5 fw-medium">Full Name</div>
                                <div class="col-12 col-lg-10 fs-5 fst-medium">{{ course.professor.user.profile.first_name }} {{ course.professor.user.profile.last_name }}</div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-12 col-lg-2 fs-5 fw-medium">Email address</div>
                                <div class="col-12 col-lg-10 fs-5 fst-medium">{{ course.professor.user.profile.email }}</div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-12 col-lg-2 fs-5 fw-medium">Department</div>
                                <div class="col-12 col-lg-10 fs-5 fst-medium">{{ course.professor.department }}</div>
                            </div>

                            <br />
                            
                            <h3 class="text-bg-primary px-2 py-1 rounded-1">Class Schedule</h3>
                            
                            

                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}{% endblock extra_js %}