{% extends "base/base.html" %} 

{% load static %} 

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
        {% comment %} Content Here {% endcomment %}
            <div class="row">
                <div class="col-xs-1-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Updating {{ course.title }} | {{ course.codename }} 'About the Course'</h3>
                            <p class="card-text">Accepts HTML and Markdown</p>
                            <br />

                            {% if form_success %}
                                <div class="alert alert-success alert-dismissible show fade">
                                    <span class="fs-5"><i class="bi bi-check-circle"></i> Success Updating About the Course Content!<span>
                                    <a href="{% url 'dashboard:course-home' course_id=course.id %}">Go back?</a>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}

                            <form method="POST" action="{% url 'dashboard:course-home-update' course_id=course.id %}">
                                {% csrf_token %}
                                {{ form.content }}
                                <div id="editor"></div>
                                <br />
                                <button class="btn btn-primary" type="submit">Save Changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static './js/QuillDeltaToHtmlConverter.bundle.js' %}"></script>

<script>
    let content_textarea = $("#id_content");

    const quill = new Quill('#editor', {
        theme: 'snow'
    });

    function debounce(func, delay) {
        let timeoutId;

        return function (...args) {
            clearTimeout(timeoutId);
            timeoutId = setTimeout(() => {
                func.apply(this, args);
            }, delay);
        };
    }

    function quill_on_text_change(delta, oldDelta, source) {
        console.log("Text changed!", delta, oldDelta, source);
    }

    const debouncedTextChange = debounce(quill_on_text_change, 1750);

    quill.on('text-change', (delta, oldDelta, source) => {
        debouncedTextChange(delta, oldDelta, source);
    });

</script>
{% endblock extra_js %}
